body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center; /* Center align the content */
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    
   
}



#editor {
    border: 1px soli#ccc;
    height: 200px;
    width: 80%; /* Set the width to 80% */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding: 20px;
    margin-bottom: 30px;
   
    
}

.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow buttons to wrap to the next line if needed */
    margin-bottom: 30px;
    background-color: #000;
    width: 100%;
    height: 42px;
    
}

/* Style for icon buttons */
.btn {
    display: inline-block;
    background-color: #000000; /* Set button background color to black */
    color: rgb(0, 0, 0); /* Set button text color to white */
    margin: 0 5px; /* Add margin between buttons */
    border: none;
    height: 42px;
    width: 40px;
}

.btn img {
    max-width: 15px; /* Adjust the maximum width */
    max-height: 15px; /* Adjust the maximum height */
    margin-right: 5px;
    
    
}

#fontColorPicker {
    margin-left: 5px; /* Add margin to separate color button from alignment buttons */
}


